{{ define "categories"}}
    {{ with .GetPage ".." }}
    {{ with .Params.categories }}
    {{ range . }}
    {{ $href := print (absURL "categories/") (urlize .) }}
    <a class="tag" href="{{ $href }}">«{{ . }}»</a>
    {{ end }}
    {{ end }}
    {{ end }}
{{ end }}

{{ define "project"}}
    {{ with .GetPage ".." }}
    {{ $project_root := .GetPage ".." }}
    <a href="{{ $project_root.Permalink }}">{{ .Params.Project }}</a>
    {{ end }}
{{ end }}

{{ define "main" }}
<style>
    #background {
        background-image: none;
    }
</style>
<div id="content" class="container">
<h1 class="article-title">{{ .Title }}</h1>
<div class="article-meta">
    <div>
        <em>[{{ template "project" . }}]</em>
    </div>
    {{ template "categories" . }}
    {{ partial "metadata.html" . }}
</div>

    <div><em>{{ .Params.Place }}</em></div>
    {{ .Content }}
</div>
{{ end }}