<div data-theme="dark">
    {{ $card_id := printf "%s-%s" "card" (replace .Name " " "-") }}
    <style>
        #{{ $card_id }} {
            background-image: url('{{ .Params.Banner }}'); 
            background-color: #282133c8; background-blend-mode: darken;
        }
    </style>
<article id="{{ $card_id }}">
    <h4><a href="{{ .RelPermalink }}"><em>{{ .Title }}</em></a> &mdash; {{ partial "status.html" . }}</h4>
    <div style="color: #FBF3E6;" class="article-meta"> 
        <div>
            <small><i>{{ .Params.Description }}</i></small>
        </div>
        {{ partial "project-metadata.html" . }}
    </div>
</article>
</div>